body {
  padding: 30px;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div {
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
}

.fast-perform {
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.carousel-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.boxed-h3 {
  color: rgb(15, 33, 55);
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.design-content {
  color: rgb(15, 33, 55);
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-right: 42px;
  margin-bottom: 27px;
}

.design-second-content {
  font-size: 16px;
  line-height: 28px;
  color: rgb(110, 115, 121);
  margin-bottom: 36px;
  text-align: left;
}
